
  <div class="main">
    <h1>Hello, world!</h1>

    <form method="post" action="/postform">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="goodevil" id="exampleRadios1" value="good" checked>
          Good
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="goodevil" id="exampleRadios2" value="evil">
          Evil
        </label>
      </div>
      <div>
        <label for="favoritefood">Favorite Food: </label>
        <input name="favoritefood" type="text" id="favoritefood" placeholder="Favorite Food" />
      </div>
      <div>
        <label for="worstfood">Worst Food: </label>
        <input name="worstfood" type="text" id="worstfood" placeholder="Worst Food" />
      </div>
      <div class="form-group">
        <label for="favoritecolor">Favorite Color: </label>
        <select name="favoritecolor" class="form-control" id="favoritecolor">
        <option>Blue</option>
        <option>Red</option>
        <option>Yellow</option>
        <option>Purple</option>
        <option>Green</option>
        </select>
      </div>
      <div class="form-group">
        <label for="worstcolor">Least Favorite Color: </label>
        <select name="worstcolor" class="form-control" id="worstcolor">
        <option>Blue</option>
        <option>Red</option>
        <option>Yellow</option>
        <option>Purple</option>
        <option>Green</option>
        </select>
      </div>
      <div>
        <label for="favoriteanimal">Favorite Animal: </label>
        <input name="favoriteanimal" type="text" id="favoriteanimal" placeholder="Animal you like the most." />
      </div>
      <div>
        <label for="worstanimal">Worst Animal: </label>
        <input name="worstanimal" type="text" id="worstanimal" placeholder="Animal you dislike the most." />
      </div>
      <div>
        <label for="bio">Personal Bio: </label>
        <textarea name="bio" type="text" placeholder="Write a short description of yourself here." rows="5" cols="100"></textarea>
      </div>
      <label for="fader">Insanity Level</label>
      <input name="insanity" type="range" min="0" max="10" value="5" id="fader"
      	step="1" oninput="outputUpdate(value)"/>
      <output for="fader" id="volume">5</output>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
      function outputUpdate(vol) {
      	document.querySelector('#volume').value = vol;
      }
    </script>
  </div>
